# Ignore the examples provided by Paessler
#
EXE/
EXEXML/
hl7/
python/sensor_example.py
rest/kemp.loadbalancer.template
rest/prtg-sensor-stats.template
rest/sigfox.device.message.metric.template
rest/sigfox.device.template
rest/sigfox.device.token.template
rest/sigfox.keepalive.template
rest/sigfox.keepallive.template
rest/windows.docker.container.stats.template
rest/wunderground.template
sql/adosql
sql/db2
sql/mssql
sql/mysql
sql/oracle
sql/postgresql/Demo Serveruptime.sql
WMI WQL scripts/
scripts/
